html {
      margin: 0px;
      height: 100%;
   }
   
body {
      margin: 0px;
      min-height: 100%;
      background-color: white;
}

.water{
      position: absolute;
      background-color: cornflowerblue;
      width: 100%;
      height: 0%;
      bottom: -50%;
}

.water.waterUp{
      transition: height 1.2s;
      height: 100%;
}

.glass{
      margin: auto;
      position: absolute;
      left: 0;
      right: 0;
      top: 150%;
      margin-top: -20px;
}

.glass.glassUp{
      transition: top 1.2s;
      top: 50%;
}