html {
    margin: 0px;
    height: 100%;
}

body {
    margin: 0px;
    min-height: 100%;
    background-color: rgb(77, 76, 76);
    overflow: hidden;
}

.water {
    position: absolute;
    background-color: cornflowerblue;
    width: 100%;
    height: 0%;
    bottom: -50%;
    transition: height 1.2s ease-in-out;
}

@font-face {
    font-family: myFont;
    src: url("./assets/OpenDyslexic-Bold.otf") format("opentype");
}

.water.waterUp {
    height: 90%;
}

.glass {
    width: 200px;
    margin: auto;
    position: absolute;
    left: 0;
    right: 0;
    top: 150%;
    z-index: 3;
    transition: margin 0.3s ease-in-out, top 1.3s ease-in-out;
}

.glass.glassUp {
    top: 60%;
}

.loserDiv {
    top: 40%;
    position: absolute;
    width: 100%;
    font-family: myFont;
    display: none;
    align-items: center;
    justify-content: center;
}

.loserName {
    font-size: 6vw;
}

.lostSpan {
    font-size: 5vw;
    color: black;
}

#select_number_player {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: none;
}

.select_section {
    display: flex;
    justify-content: center;
    height: 25%;
    width: 100%;
    align-items: center;
}

.button {
    cursor: pointer;
    border-radius: 10px;
    top: 50%;
    background-color: papayawhip;
}

.button_text {
    font-family: myFont;
    margin: 100px;
    font-size: 50px;
}

.button_value {
    font-family: myFont;
    margin: 100px;
    font-size: 100px;
}

.noselect {
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Old versions of Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
}

.coin_list {
    display: flex;
    justify-items: center;
}

.select_coin {
    top: 10%;
    position: absolute;
    height: 20%;
    width: 100%;
    display: none;
    justify-content: center;
}

.select_power {
    top: 20%;
    position: absolute;
    height: 5%;
    width: 100%;
    display: none;
    justify-content: center;
}

.coin {
    transform: scale(1.3);
}

.black {
    height: 100%;
    width: 100px;
    background-color: black;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

.red {
    height: 100%;
    width: 50px;
    background-color: red;
}

.orange {
    height: 100%;
    width: 20px;
    background-color: orange;
}

.green {
    height: 100%;
    width: 10px;
    background-color: green;
}

.yellow {
    height: 100%;
    width: 2px;
    background-color: gold;
}

.power_container {
    width: 800px;
    display: flex;
    background-color: black;
    border-radius: 15px;
}

.line {
    display: none;
    position: absolute;
    height: 10%;
    border-width: 2px;
    width: 2px;
    top: 18%;
    z-index: 10;
    background-color: gold;
}

.dropped_coin {
    display: none;
    width: 170px;
    margin: auto;
    position: absolute;
    left: 0;
    right: 0;
    z-index: 2;
}

.dropped_coin.coinDown {
    transition: margin 600ms ease-in;
}

.side_coin {
    width: 160px;
    z-index: -1;
}

.glassImg {
    width: 100%;
    height: 100%;
    position: absolute;
}

.coin_div {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}